@import 'modern-normalize/modern-normalize.css';
@import 'https://use.typekit.net/zhq1xpb.css';
@import "./tailwind.css";
@import "./prism.css";

body {
  font-family: 'darkmode-mono-on', 'sans-serif';

  @apply bg-surface-100 text-white text-sm font-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: -0.2rem;
  @apply scroll-smooth;

  #app {

    h1, h2, h3, h4, h5, h6 {
      @apply mt-8 mb-4;
      @apply font-bold text-primary-500;
    }

    h1 {
      @apply text-primary-400 text-2xl;
    }

    h2 {
      @apply text-xl;
    }

    h3 {
      @apply text-lg;
    }

    h4 {
      @apply text-base;
    }

    h5 {
      @apply text-sm;
    }

    h6 {
      @apply text-xs;
    }


    .button {
      @apply w-32 py-2;
      @apply md:w-40 md:py-4;

      @apply flex items-center justify-center;
      @apply rounded border-2 border-primary-300;

      @apply text-lg font-bold text-center tracking-wide;
      @apply bg-surface-300 text-primary-600;
      @apply hover:bg-surface-200 hover:text-primary-400 transition-colors duration-200;
    }

    .link, .md-content a {
      @apply inline-block;
      @apply text-primary-600 font-normal;
      @apply hover:text-primary-100 transition-colors duration-200;
    }
  }
}

body * {
  @apply box-border scroll-smooth;
}