@import 'modern-normalize/modern-normalize.css';
@import 'https://use.typekit.net/zhq1xpb.css';
@import "./prism.css";
@import "./tailwind.css";

body {
  font-family: 'darkmode-mono-on', 'Lato', 'sans-serif';

  @apply bg-surface-100 text-white text-base font-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: -0.1rem;
  @apply scroll-smooth;

  h1, h2, h3, h4 {
    @apply mt-8 mb-4;
    @apply text-opacity-90;
  }

  h1 {
    @apply text-primary-300 text-xl font-bold;
    @apply md:text-2xl;
  }

  h2 {
    @apply text-primary-400 text-lg font-semibold;
    @apply md:text-xl;
  }

  h3 {
    @apply text-sm font-medium;
    @apply md:text-base;
  }

  h4 {
    @apply text-base font-normal;
  }

  .button {
    @apply w-32 py-2;
    @apply md:w-40 md:py-4;

    @apply flex items-center justify-center;
    @apply rounded border-2 border-primary-300;

    @apply text-lg font-bold text-center tracking-wide;
    @apply bg-surface-300 text-primary-600;
    @apply hover:bg-surface-200 hover:text-primary-400 transition-colors duration-200;
  }

  .link, .md-content a {
    @apply inline-block;
    @apply text-primary-500 font-medium tracking-wide;
    @apply hover:text-primary-100 transition-colors duration-200;
  }
}

body * {
  @apply box-border scroll-smooth;
  /* Hide scrollbar for Chrome, Safari and Opera */
  .example::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}